---
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const portfolios = await getCollection("portfolio");
  return portfolios.map((portfolio) => ({
    params: { slug: portfolio.slug },
    props: portfolio,
  }));
}
type Props = CollectionEntry<"portfolio">;
const portfolio = Astro.props;
const { Content } = await portfolio.render();
---

<div class="bg-white px-5 py-6 md:p-14">
  <div
    transition:name={"container-" + portfolio.slug}
    class="transition-all md:border-4 md:border-black md:shadow-retro"
  >
    <article class="prose prose-xl mx-auto py-1 md:py-12">
      <div class="not-prose">
        <p class="mb-5 font-ar-one text-xl">
          <a href="/" class="font-bold underline underline-offset-4">home</a>
          <span>/portfolio/{portfolio.slug}</span>
        </p>
        <img
          transition:name={"image-" + portfolio.slug}
          class="aspect-[144/77] w-full border-2 border-black object-cover transition-all"
          src={portfolio.data.image}
          alt={portfolio.data.title}
        />
        <h1
          class="mt-10 font-ar-one text-3xl font-bold transition-all md:text-6xl"
          transition:name={"title-" + portfolio.slug}
        >
          {portfolio.data.title}
        </h1>
        <p
          class="mt-5 font-roboto-mono text-sm transition-all text-balance md:text-xl"
          transition:name={"description-" + portfolio.slug}
        >
          {portfolio.data.description}
        </p>
      </div>

      <Content />
    </article>
  </div>
</div>
